*
{
  padding:0;
  margin:0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
#root {
  background-color: #F4F4F4;
  min-height: 100vh;
  width:100vw;
 font-family: 'Test Söhne', sans-serif;
}

/* For Chrome, Edge, Safari */
*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Test Söhne';
  src: url('/fonts/customfonts/test-soehne-buch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}
